name: CI

on:
  schedule:
    - cron: '0 6 * * *'  # Daily at 6 AM UTC (2 AM EST)
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allow_failure }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: '1' # current stable
            os: ubuntu-latest
            arch: x64
            allow_failure: false
          - version: '1.11-nightly' # next release
            os: ubuntu-latest
            arch: x64
            allow_failure: true
          - version: 'nightly' # dev channel
            os: ubuntu-latest
            arch: x64
            allow_failure: true
          - version: '1.10.0' # minimum supported version
            os: ubuntu-latest
            arch: x64
            allow_failure: false
          - version: '1' # x64 macOS
            os: macos-latest
            arch: x64
            allow_failure: false
          - version: '1' # x64 windows
            os: windows-latest
            arch: x64
            allow_failure: false
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
