name: Build LaTeX document
on:
  pull_request:
  push:
    branches:
      - main
    tags: '*'
  workflow_dispatch:
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            cd doc/terminology
            latexmk -shell-escape terminology.tex
            ls -al
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: PDF
          path: doc/terminology/terminology.pdf
